:root {
    --cor-principal: #00BFFF;
}

body {
    background-color: var(--cor-principal);
}


p {
    border-radius: 10px;
    margin: 5%;
    font-size: 35px;
    max-width: 50%;
    display: block;
}

.imagem {
    width: 35%;
    margin-left: 100px;
   
}

.botao {
    background-color: aqua;
    color: #000000;
    transition: background-color 0.3s ease;
    width: 20%;
    padding: 20px;
    margin: 20px;
    font-size: 31px;

}

h1 {
    margin-left: 7%;
    font-size: 40px;
}

.texto {
    
    font-size: 100px;
}

#texto_agro {
    display: inline-block;
    width: 30%;
}
div {
    font-size: large;
}
